1) Your file needs to be committed as your name: first initial last name.
   EXAMPLE: Derrick Walton ----> dwalton.py
2) You need to start with the level3 file.
3) Your program needs to pass all of the tests.
   py.test -k dwalton -v
4) Main should accept input
4) Main should return a dictionary
5) Your program needs to return a dictionary containing these keys with
   the approriate values. 
   {'input': 'inPut',
    'caps': 'Input';
    'upper': 'INPUT',
    'lower': 'input',
    'endup': 'inpuT',
    'begup": 'Input'}
6) You need to populate this list individually on the fly.
7) Your program should print each string when ran by itself.
